
@import './../../styles/variables.sass'    
    
.error
    height: 100%
    background: $dark-color
    position: relative
    &_h
        position: absolute
        // margin-top: 23px
        // margin-left: 82px
        margin: auto
        font-size: 700px
        color: rgba(255, 255, 255, 0.5)
        z-index: 1
    &_img
        display: block
        margin:  auto
        z-index: 5
