@import './../../../styles/variables.sass'
    
.modal
    width: 100vw
    height: 100vh
    background-color: rgba(33,33,33,0.1)
    position: fixed
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    // transform: scale(0)
    &_content
        height: 371px
        width: 797px
        background-color: $main-color
    &_close
        font-size: 110%
        color: darkred
        right: 10px
        width: 24px
        height: 24px
        border: none
        background: transparent
        cursor: pointer
      
// .modal.active
//      transform: scale(1)