.navbar
    width: 100%
    height: 93px
    background: #1F2A63
    display: flex
    justify-content: space-between
    &_logo
        margin-left: 153px
        margin-top: 10px
    &_links
        display: flex
        margin-right: 153px
        margin-top: 25px
    &_link
        color: #F6F7F9
        font-size: 25px
        line-height: 29px
        text-decoration: none
        margin-left: 74px

